

.footer-content{
    
    padding: 20px 100px;
    width: 100%;
    height: auto;
    border: 1px solid rgb(228, 228, 228);
}
.footer-list-item{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.footer-list-item ul{
    margin-top: 20px;
    list-style-type: none;
}
.footer-list-item ul li{
    margin-top: 10px;
    transition: 0.3s ease-out;
}

.footer-list-item ul li:hover{
    
    color: aquamarine;
    cursor: pointer;

}
.branh h3{
    font-size: 30px;
    color: aquamarine;
    font-weight: bold;
}
.company{
    padding-left: 20px;
    border-left: 1px solid rgb(228, 228, 228);

}
.teaching{
    padding-left: 20px;
    border-left: 1px solid rgb(228, 228, 228);

}
.community{
    padding-left: 20px;
    border-left: 1px solid rgb(228, 228, 228);

}
.contact-us{
    padding-left: 20px;
    border-left: 1px solid rgb(228, 228, 228);
}